@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-iwVevBensGMN_font-family: "Inter";
  --mixin-iwVevBensGMN_font-size: 16px;
  --mixin-iwVevBensGMN_font-weight: 400;
  --mixin-iwVevBensGMN_font-style: normal;
  --mixin-iwVevBensGMN_color: #535353;
  --mixin-iwVevBensGMN_text-align: left;
  --mixin-iwVevBensGMN_text-transform: none;
  --mixin-iwVevBensGMN_line-height: 1.5;
  --mixin-iwVevBensGMN_letter-spacing: normal;
  --mixin-iwVevBensGMN_white-space: pre-wrap;
  --mixin-iwVevBensGMN_user-select: text;
  --mixin-iwVevBensGMN_text-decoration-line: none;
  --mixin-iwVevBensGMN_text-overflow: clip;
  --mixin-rwtP0kIBv0CC_color: #000000;
  --mixin-rwtP0kIBv0CC_font-weight: 900;
  --mixin-rwtP0kIBv0CC_font-size: 72px;
  --mixin-rwtP0kIBv0CC_line-height: 1;
  --mixin-rwtP0kIBv0CC_letter-spacing: -4px;
  --mixin-R7H0yBW6ZabZ_font-family: "Inter";
  --mixin-R7H0yBW6ZabZ_color: #000000;
  --mixin-R7H0yBW6ZabZ_font-size: 48px;
  --mixin-R7H0yBW6ZabZ_font-weight: 700;
  --mixin-R7H0yBW6ZabZ_letter-spacing: -1px;
  --mixin-R7H0yBW6ZabZ_line-height: 1.1;
  --mixin-GI3oMuCnfmlb_color: #0070f3;
  --mixin-T4Mq3-SQgNoYA_font-family: "Inter";
  --mixin-T4Mq3-SQgNoYA_color: #000000;
  --mixin-T4Mq3-SQgNoYA_font-size: 32px;
  --mixin-T4Mq3-SQgNoYA_font-weight: 600;
  --mixin-T4Mq3-SQgNoYA_letter-spacing: -0.8px;
  --mixin-T4Mq3-SQgNoYA_line-height: 1.2;
  --mixin-5bwyP3B23JFup_font-family: "Inter";
  --mixin-5bwyP3B23JFup_color: #000000;
  --mixin-5bwyP3B23JFup_font-size: 24px;
  --mixin-5bwyP3B23JFup_font-weight: 600;
  --mixin-5bwyP3B23JFup_letter-spacing: -0.5px;
  --mixin-5bwyP3B23JFup_line-height: 1.3;
  --mixin-az00LCfGv6PAQ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-az00LCfGv6PAQ_border-bottom-color: #dddddd;
  --mixin-az00LCfGv6PAQ_border-bottom-style: solid;
  --mixin-az00LCfGv6PAQ_border-bottom-width: 1px;
  --mixin-az00LCfGv6PAQ_border-left-color: #dddddd;
  --mixin-az00LCfGv6PAQ_border-left-style: solid;
  --mixin-az00LCfGv6PAQ_border-left-width: 1px;
  --mixin-az00LCfGv6PAQ_border-right-color: #dddddd;
  --mixin-az00LCfGv6PAQ_border-right-style: solid;
  --mixin-az00LCfGv6PAQ_border-right-width: 1px;
  --mixin-az00LCfGv6PAQ_border-top-color: #dddddd;
  --mixin-az00LCfGv6PAQ_border-top-style: solid;
  --mixin-az00LCfGv6PAQ_border-top-width: 1px;
  --mixin-az00LCfGv6PAQ_border-bottom-left-radius: 3px;
  --mixin-az00LCfGv6PAQ_border-bottom-right-radius: 3px;
  --mixin-az00LCfGv6PAQ_border-top-left-radius: 3px;
  --mixin-az00LCfGv6PAQ_border-top-right-radius: 3px;
  --mixin-az00LCfGv6PAQ_font-family: "Inconsolata";
  --mixin-az00LCfGv6PAQ_padding-bottom: 1px;
  --mixin-az00LCfGv6PAQ_padding-left: 4px;
  --mixin-az00LCfGv6PAQ_padding-right: 4px;
  --mixin-az00LCfGv6PAQ_padding-top: 1px;
  --mixin-Yyx93liBiTPTm_border-left-color: #dddddd;
  --mixin-Yyx93liBiTPTm_border-left-style: solid;
  --mixin-Yyx93liBiTPTm_border-left-width: 3px;
  --mixin-Yyx93liBiTPTm_color: #888888;
  --mixin-Yyx93liBiTPTm_padding-left: 10px;
  --mixin-zV8Idn_6CupdG_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zV8Idn_6CupdG_border-bottom-color: #dddddd;
  --mixin-zV8Idn_6CupdG_border-bottom-style: solid;
  --mixin-zV8Idn_6CupdG_border-bottom-width: 1px;
  --mixin-zV8Idn_6CupdG_border-left-color: #dddddd;
  --mixin-zV8Idn_6CupdG_border-left-style: solid;
  --mixin-zV8Idn_6CupdG_border-left-width: 1px;
  --mixin-zV8Idn_6CupdG_border-right-color: #dddddd;
  --mixin-zV8Idn_6CupdG_border-right-style: solid;
  --mixin-zV8Idn_6CupdG_border-right-width: 1px;
  --mixin-zV8Idn_6CupdG_border-top-color: #dddddd;
  --mixin-zV8Idn_6CupdG_border-top-style: solid;
  --mixin-zV8Idn_6CupdG_border-top-width: 1px;
  --mixin-zV8Idn_6CupdG_border-bottom-left-radius: 3px;
  --mixin-zV8Idn_6CupdG_border-bottom-right-radius: 3px;
  --mixin-zV8Idn_6CupdG_border-top-left-radius: 3px;
  --mixin-zV8Idn_6CupdG_border-top-right-radius: 3px;
  --mixin-zV8Idn_6CupdG_font-family: "Inconsolata";
  --mixin-zV8Idn_6CupdG_padding-bottom: 3px;
  --mixin-zV8Idn_6CupdG_padding-left: 6px;
  --mixin-zV8Idn_6CupdG_padding-right: 6px;
  --mixin-zV8Idn_6CupdG_padding-top: 3px;
  --mixin-LLxa4LLzUoWCo_display: flex;
  --mixin-LLxa4LLzUoWCo_flex-direction: column;
  --mixin-LLxa4LLzUoWCo_align-items: stretch;
  --mixin-LLxa4LLzUoWCo_justify-content: flex-start;
  --mixin-LLxa4LLzUoWCo_list-style-position: outside;
  --mixin-LLxa4LLzUoWCo_padding-left: 40px;
  --mixin-LLxa4LLzUoWCo_position: relative;
  --mixin-LLxa4LLzUoWCo_list-style-type: disc;
  --mixin-GpMeWCw3L7c_N_display: flex;
  --mixin-GpMeWCw3L7c_N_flex-direction: column;
  --mixin-GpMeWCw3L7c_N_align-items: stretch;
  --mixin-GpMeWCw3L7c_N_justify-content: flex-start;
  --mixin-GpMeWCw3L7c_N_list-style-position: outside;
  --mixin-GpMeWCw3L7c_N_padding-left: 40px;
  --mixin-GpMeWCw3L7c_N_position: relative;
  --mixin-GpMeWCw3L7c_N_list-style-type: decimal;
  --mixin-ZBz8Tldcsem_f_font-family: "Inter";
  --mixin-ZBz8Tldcsem_f_color: #000000;
  --mixin-ZBz8Tldcsem_f_font-size: 20px;
  --mixin-ZBz8Tldcsem_f_font-weight: 600;
  --mixin-ZBz8Tldcsem_f_letter-spacing: -0.3px;
  --mixin-ZBz8Tldcsem_f_line-height: 1.5;
  --mixin-DTzM8FcBWVfCl_font-family: "Inter";
  --mixin-DTzM8FcBWVfCl_color: #000000;
  --mixin-DTzM8FcBWVfCl_font-size: 16px;
  --mixin-DTzM8FcBWVfCl_font-weight: 600;
  --mixin-DTzM8FcBWVfCl_line-height: 1.5;
  --mixin-nJ_ME_WrBvjjJ_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-iwVevBensGMN_font-family);
  font-size: var(--mixin-iwVevBensGMN_font-size);
  font-weight: var(--mixin-iwVevBensGMN_font-weight);
  font-style: var(--mixin-iwVevBensGMN_font-style);
  color: var(--mixin-iwVevBensGMN_color);
  text-align: var(--mixin-iwVevBensGMN_text-align);
  text-transform: var(--mixin-iwVevBensGMN_text-transform);
  line-height: var(--mixin-iwVevBensGMN_line-height);
  letter-spacing: var(--mixin-iwVevBensGMN_letter-spacing);
  white-space: var(--mixin-iwVevBensGMN_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-rwtP0kIBv0CC_color);
  font-weight: var(--mixin-rwtP0kIBv0CC_font-weight);
  font-size: var(--mixin-rwtP0kIBv0CC_font-size);
  line-height: var(--mixin-rwtP0kIBv0CC_line-height);
  letter-spacing: var(--mixin-rwtP0kIBv0CC_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-R7H0yBW6ZabZ_font-family);
  color: var(--mixin-R7H0yBW6ZabZ_color);
  font-size: var(--mixin-R7H0yBW6ZabZ_font-size);
  font-weight: var(--mixin-R7H0yBW6ZabZ_font-weight);
  letter-spacing: var(--mixin-R7H0yBW6ZabZ_letter-spacing);
  line-height: var(--mixin-R7H0yBW6ZabZ_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-GI3oMuCnfmlb_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-T4Mq3-SQgNoYA_font-family);
  color: var(--mixin-T4Mq3-SQgNoYA_color);
  font-size: var(--mixin-T4Mq3-SQgNoYA_font-size);
  font-weight: var(--mixin-T4Mq3-SQgNoYA_font-weight);
  letter-spacing: var(--mixin-T4Mq3-SQgNoYA_letter-spacing);
  line-height: var(--mixin-T4Mq3-SQgNoYA_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-5bwyP3B23JFup_font-family);
  color: var(--mixin-5bwyP3B23JFup_color);
  font-size: var(--mixin-5bwyP3B23JFup_font-size);
  font-weight: var(--mixin-5bwyP3B23JFup_font-weight);
  letter-spacing: var(--mixin-5bwyP3B23JFup_letter-spacing);
  line-height: var(--mixin-5bwyP3B23JFup_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-az00LCfGv6PAQ_background);
  font-family: var(--mixin-az00LCfGv6PAQ_font-family);
  border-radius: var(--mixin-az00LCfGv6PAQ_border-top-left-radius)
    var(--mixin-az00LCfGv6PAQ_border-top-right-radius)
    var(--mixin-az00LCfGv6PAQ_border-bottom-right-radius)
    var(--mixin-az00LCfGv6PAQ_border-bottom-left-radius);
  padding: var(--mixin-az00LCfGv6PAQ_padding-top)
    var(--mixin-az00LCfGv6PAQ_padding-right)
    var(--mixin-az00LCfGv6PAQ_padding-bottom)
    var(--mixin-az00LCfGv6PAQ_padding-left);
  border-top: var(--mixin-az00LCfGv6PAQ_border-top-width)
    var(--mixin-az00LCfGv6PAQ_border-top-style)
    var(--mixin-az00LCfGv6PAQ_border-top-color);
  border-right: var(--mixin-az00LCfGv6PAQ_border-right-width)
    var(--mixin-az00LCfGv6PAQ_border-right-style)
    var(--mixin-az00LCfGv6PAQ_border-right-color);
  border-bottom: var(--mixin-az00LCfGv6PAQ_border-bottom-width)
    var(--mixin-az00LCfGv6PAQ_border-bottom-style)
    var(--mixin-az00LCfGv6PAQ_border-bottom-color);
  border-left: var(--mixin-az00LCfGv6PAQ_border-left-width)
    var(--mixin-az00LCfGv6PAQ_border-left-style)
    var(--mixin-az00LCfGv6PAQ_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-Yyx93liBiTPTm_color);
  padding-left: var(--mixin-Yyx93liBiTPTm_padding-left);
  border-left: var(--mixin-Yyx93liBiTPTm_border-left-width)
    var(--mixin-Yyx93liBiTPTm_border-left-style)
    var(--mixin-Yyx93liBiTPTm_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-zV8Idn_6CupdG_background);
  font-family: var(--mixin-zV8Idn_6CupdG_font-family);
  border-radius: var(--mixin-zV8Idn_6CupdG_border-top-left-radius)
    var(--mixin-zV8Idn_6CupdG_border-top-right-radius)
    var(--mixin-zV8Idn_6CupdG_border-bottom-right-radius)
    var(--mixin-zV8Idn_6CupdG_border-bottom-left-radius);
  padding: var(--mixin-zV8Idn_6CupdG_padding-top)
    var(--mixin-zV8Idn_6CupdG_padding-right)
    var(--mixin-zV8Idn_6CupdG_padding-bottom)
    var(--mixin-zV8Idn_6CupdG_padding-left);
  border-top: var(--mixin-zV8Idn_6CupdG_border-top-width)
    var(--mixin-zV8Idn_6CupdG_border-top-style)
    var(--mixin-zV8Idn_6CupdG_border-top-color);
  border-right: var(--mixin-zV8Idn_6CupdG_border-right-width)
    var(--mixin-zV8Idn_6CupdG_border-right-style)
    var(--mixin-zV8Idn_6CupdG_border-right-color);
  border-bottom: var(--mixin-zV8Idn_6CupdG_border-bottom-width)
    var(--mixin-zV8Idn_6CupdG_border-bottom-style)
    var(--mixin-zV8Idn_6CupdG_border-bottom-color);
  border-left: var(--mixin-zV8Idn_6CupdG_border-left-width)
    var(--mixin-zV8Idn_6CupdG_border-left-style)
    var(--mixin-zV8Idn_6CupdG_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-LLxa4LLzUoWCo_display);
  flex-direction: var(--mixin-LLxa4LLzUoWCo_flex-direction);
  align-items: var(--mixin-LLxa4LLzUoWCo_align-items);
  justify-content: var(--mixin-LLxa4LLzUoWCo_justify-content);
  list-style-position: var(--mixin-LLxa4LLzUoWCo_list-style-position);
  padding-left: var(--mixin-LLxa4LLzUoWCo_padding-left);
  position: var(--mixin-LLxa4LLzUoWCo_position);
  list-style-type: var(--mixin-LLxa4LLzUoWCo_list-style-type);
  flex-column-gap: var(--mixin-LLxa4LLzUoWCo_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-GpMeWCw3L7c_N_display);
  flex-direction: var(--mixin-GpMeWCw3L7c_N_flex-direction);
  align-items: var(--mixin-GpMeWCw3L7c_N_align-items);
  justify-content: var(--mixin-GpMeWCw3L7c_N_justify-content);
  list-style-position: var(--mixin-GpMeWCw3L7c_N_list-style-position);
  padding-left: var(--mixin-GpMeWCw3L7c_N_padding-left);
  position: var(--mixin-GpMeWCw3L7c_N_position);
  list-style-type: var(--mixin-GpMeWCw3L7c_N_list-style-type);
  flex-column-gap: var(--mixin-GpMeWCw3L7c_N_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-ZBz8Tldcsem_f_font-family);
  color: var(--mixin-ZBz8Tldcsem_f_color);
  font-size: var(--mixin-ZBz8Tldcsem_f_font-size);
  font-weight: var(--mixin-ZBz8Tldcsem_f_font-weight);
  letter-spacing: var(--mixin-ZBz8Tldcsem_f_letter-spacing);
  line-height: var(--mixin-ZBz8Tldcsem_f_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-DTzM8FcBWVfCl_font-family);
  color: var(--mixin-DTzM8FcBWVfCl_color);
  font-size: var(--mixin-DTzM8FcBWVfCl_font-size);
  font-weight: var(--mixin-DTzM8FcBWVfCl_font-weight);
  line-height: var(--mixin-DTzM8FcBWVfCl_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-nJ_ME_WrBvjjJ_color);
}
